<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

   <description>JSFRIPortlet</description>

   <context-param>
        <param-name>javax.portlet.faces.RENDER_POLICY</param-name>
        <param-value>
            ALWAYS_DELEGATE
        </param-value>
   </context-param>

   <context-param>
      <param-name>facelets.DEVELOPMENT</param-name>
      <param-value>true</param-value>
   </context-param>
   <context-param>
      <param-name>facelets.SKIP_COMMENTS</param-name>
      <param-value>true</param-value>
   </context-param>
   <context-param>
      <param-name>facelets.VIEW_MAPPINGS</param-name>
      <param-value>*.xhtml</param-value>
   </context-param>
   <context-param>
      <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
      <param-value>.xhtml</param-value>
   </context-param>
   <context-param>
      <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
      <param-value>server</param-value>
   </context-param>


   <listener>
      <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
   </listener>
   <servlet>
      <servlet-name>FacesServlet</servlet-name>
      <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>FacesServlet</servlet-name>
      <url-pattern>/faces/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>FacesServlet</servlet-name>
      <url-pattern>*.jsf</url-pattern>
   </servlet-mapping>

   <!--Pay attention to <location> element. It should contain proper path 
   to error pages according to Faces Servlet mapping or exact viewId.  -->

   <!--<error-page>
      <exception-type>javax.servlet.ServletException</exception-type>
      <location>/faces/error.xhtml</location>
   </error-page>
   <error-page>
      <exception-type>javax.faces.application.ViewExpiredException</exception-type>
      <location>/faces/error.xhtml</location>
   </error-page>

   <error-page>
      <exception-type>javax.faces.FacesException</exception-type>
      <location>/faces/error.xhtml</location>
   </error-page>-->


</web-app>